<h1>Memory Game</h1>
<div class='row'>
	<form>
	<button id='reshuffle' class='btn col s2'>Reshuffle</button>
	<input name='match_count' type='number' placeholder='How many matches do you want?' class='col s6'/>
	</form>
</div>

<div class='row'>
<% @cards.each do |card| %>
	<div class='col s3 card' id=<%= card %> >
	<%= image_tag(card[card.keys[0]].url(:standard), title: card.keys[0], class: 'image no-display') %>
	</div> 
<% end %>
</div>	

<button id='replay_same_deck' class='no-display btn'>Replay same deck</button>	

