<h1>All Matches</h1>

<%= link_to 'Add New Match', new_match_path, class: 'btn' %>

<ul>
<% @matches.each do |match| %>
	<li>
		<div class='row'>
			<div class='col s6 m4'>
				 <h4> <%= link_to match.pair_name, match_path(match) %> </h4>
			</div>
			<div class='col s6 m2'>
				<h4> <%= link_to 'Edit', edit_match_path(match)%> </h4>	
		</div>
	</li>
<% end %>
</ul>