h1, h2 {
	font-family: 'Baloo Paaji', cursive;
	color: #33691e;
}

h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	color: #33691e;
}

body {
	font-family: 'Montserrat', sans-serif;
}

a {
	color: #689f38;
}

.card {
	height: 17vw;
	width: 17vw;
	cursor: pointer;
}

.no-display {
	display: none;
}

.btn, .btn-large {
	background-color: #3e2723;
}

.btn:hover, .btn-large:hover {
	background-color: #3e2723;
}

.image {
	height: 90%;
	width: 100%;
	padding-top: 5%;
}

